/*.col-4{*/
/*    background-color: #222222;*/
/*    float: left;*/
/*}*/
.col-5{
    height: 60px;
}
.col-7{
    height: 60px;
}
.col-5{
    background-color: #222222;
    float: right;
}
.col-5 ul li a{
    color: white;
    float: right;
    text-decoration: none;
    cursor:pointer;
}
.col-5 ul li{
    list-style: none;
    color: white;
    text-decoration: none;
    float: right;
}


.col-7{
    background-color: #222222;
    float: left;
}
.col-7 ul li{
    padding: 0;
    margin: 0;
}

.col-7 li  {
    list-style: none;
    position: relative;
    width:150px;
    height: 30px;
    padding:0 20px;
    background-color: #222222;
    line-height: 30px;
    cursor:pointer;
    float: left;
    margin: 0;
}
.col-7 li a{
    text-decoration: none;
    color: white;
}
.col-7 li:hover{

    background-color: #080808;
}
.col-7 ul ul{
    position: absolute;
    top:unset;
    right: 0;
    visibility:hidden;

}
.col-7 ul li:hover ul {
    visibility: visible;
}
.col-7 ul li{
    padding: 0;
    margin: 0;
}

.col-2 li  {
    list-style: none;
    position: relative;
    width:150px;
    height: 30px;
    padding:0 20px;
    background-color: #222222;
    line-height: 30px;
    cursor:pointer;
    float: left;
    margin: 0;
}
.col-2 li a{
    text-decoration: none;
    color: white;
}
.col-2 li:hover{

    background-color: blue;
}
.col-2 ul ul{
    position: absolute;
    top:unset;
    left: 0;
    visibility:hidden;

}
.col-2 ul li:hover ul {
    visibility: visible;
}