#logo{
    padding-left: 5%;
    width: 13%;
}
.row_background{
    height: 800px;
    background-size: cover;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/surface-pro-9_multi-color_Pride-english?scl=1");
    background-repeat:no-repeat ;
}
.text{
    max-inline-size: 40%;
    padding-left: 150px;
    padding-top: 150px;
}